version: "3.9"

services:
  authorization:
    build:
      context: ./AuthorizationService
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: DockerDevelopment
      ASPNETCORE_URLS: https://+:80
      ASPNETCORE_Kestrel__Certificates__Default__Password: ComplexPassword
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/authorizationpassword.pfx
      DATABASE_PORT: 5433
      DATABASE_HOST: authorization_postgres_db
      ROOM_MANAGER_IP_ADDRESS: "room_manager:5437"
      STATISTIC_SERVICE_IP_ADDRESS: "statistic_service:5438"
      MAIL_VERIFICATION_IP_ADDRESS: "localhost:5000"
    ports:
      - 5000:80
    volumes:
      - ./AuthorizationService/.aspnet/https:/https:ro
      - ./AuthorizationService/AuthorizationService/Mails:/app/Mails
      - ./AuthorizationService:/root/.microsoft/usersecrets/36c29860-ecc0-445b-b7aa-109d90c26842
    depends_on:
      - authorization_postgres_db

  authorization_postgres_db:
    image: postgres
    environment:
      POSTGRES_DB: "LifeCreatorDb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    command: -p 5433
    volumes:
      - authorization-data:/var/lib/postgresql/data
  
  statistic_service:
    build:
      context: ./StatisticService
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: DockerDevelopment
      ASPNETCORE_URLS: http://+:8080
    command: -p 5438
    ports:
      - 5005:8080
    depends_on:
      - statistic_postgres_db

  statistic_postgres_db:
    image: postgres
    environment:
      POSTGRES_DB: "statistic_db"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    ports:
      - 5434:5432
    volumes:
      - statistic-data:/var/lib/postgresql/data

  admin_authorization:
    build:
      context: ./AuthorizationService
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: DockerDevelopment
      ASPNETCORE_URLS: https://+:80
      ASPNETCORE_Kestrel__Certificates__Default__Password: ComplexPassword
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/authorizationpassword.pfx
      DATABASE_PORT: 5435
      DATABASE_HOST: admin_authorization_db
    ports:
      - 5010:80
    volumes:
      - ./AuthorizationService/.aspnet/https:/https:ro
      - ./AuthorizationService/Mails:/app/Mails
      - ./AuthorizationService:/root/.microsoft/usersecrets/36c29860-ecc0-445b-b7aa-109d90c26842
    depends_on:
      - admin_authorization_db

  admin_authorization_db:
    image: postgres
    environment:
      POSTGRES_DB: "LifeCreatorDb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    command: -p 5435
    volumes:
      - admin-authorization-data:/var/lib/postgresql/data

  room_manager:
    build:
      context: ./RoomManager
      dockerfile: Dockerfile
    environment:
      DOCKER_HOST: http://127.0.0.1
      DOCKER_DAEMON_URI: tcp://host.docker.internal:2375
      IMAGE_NAME: game-server:latest
    command: -p 5437
    extra_hosts:
    - "host.docker.internal:host-gateway"
    ports:
      - 5015:8080

volumes:
  admin-authorization-data:
  authorization-data:
  statistic-data: